{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta <="UTF-8">
	<meta <="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>

	<!-- Bootstrap reboot (для сброса стилей) -->
	<link rel="stylesheet" href=" {% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href=" {% static 'users/css/style.css' %}">

	<!-- Bootstrap сетка -->
	<link rel="stylesheet" href=" {% static 'css/bootstrap-grid.min.css' %}">

	<!-- Шрифты с Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  </head>
  <body>
      <nav class="navbar">
        <div class="container">
         <a href="{% url 'home' %}" class="navbar-brand">Игра</a>
          <div class="navbar-wrap">
              <ul class="navbar-menu">
                <li>{% if user.is_authenticated %}
                  <a href="{% url 'logout' %}">Выйти</a>
                  <li><a href="{% url 'profile' %}">Профиль</a></li>
                </li>
                <li>
                  {% else %}
                    <a href="{% url 'signup' %}">Регистрация</a>
                </li>
                <li>
                  <a href="{% url 'login' %}">Войти</a>
                {% endif %}
                </li>
              </ul>
          </div>
        </div>
      </nav>
        {% block content %}{% endblock %}
    </body>
</html>