{% extends 'users/basa.html' %}
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{% block title %}Flappy Bird{% endblock %}

{% block content %}
    <h1 align="center">Привет, {{ user.username|default:'Гость' }}</h1>
    <p align="center"> Добро пожаловать на сайт</p>
    <p id="user">{{ user.username }}</p>
 <body>
<center>
 <input id="restart" type="button" value="Restart"/>
 <canvas id="canvas" width="288" height="512"></canvas>
 <script type="text/javascript" src="{% static 'js/game1.js' %}"></script>
 <canvas id="restartCanvas" style="display: none;">Restart</canvas>
</center>
 </body>

{% endblock %}
