{% extends 'users/basa.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Профиль{% endblock %}

{% block content %}
<style type="text/css">
	#text-block {
	margin-top: 20px;
	}
   #pic {
    float: left; /* Обтекание картинки текстом */
   }
   #text {
    margin-left: 300px; /* Отступ от левого края */
   }
  </style>
	<div class="container" id="text-block">
		<div class="content-section">
			<div class="media">
				<div class="media-left" id="pic">
					<img class="media-object" src="{{ user.profile.image.url }}" style="cursor: pointer; width: 200px; height: 200px">
				</div>
				<div class="media-body" id="text">
					<h2 class="account-heading">Имя пользователя: {{ user.username }}</h2>
				</div>
			</div>
		</div>
		<form method="POST" enctype="multipart/form-data" id="text">
			{% csrf_token %}
			{{ p_form|crispy }}
			<button class="btn btn-outline-info" type="submit">Обновить</button>
		</form>
		</div>
	</div>
{% endblock content %}